#archercursor_d_overlay,
#archercursor_d_eligiblelinks {
  opacity: 0;
  z-index: 9999;
  /*cursor: none;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
#archercursor_d_center,
#archercursor_d_cursor,
#archercursor_d_target,
#archercursor_d_line,
#archercursor_d_linkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  display: none;
  z-index: 10000;
}
#archercursor_d_center,
#archercursor_d_cursor,
#archercursor_d_target {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, -50%);
}
#archercursor_d_center {
  background-color: rgba(128,128,128,0.3);
}
#archercursor_d_cursor {
  width: 10px;
  height: 10px;
  background-color: rgba(128,128,128,0.7);
  /*cursor: none;*/
}
#archercursor_d_target {
  width: 15px;
  height: 15px;
  background-color: rgba(255,0,0,0.8);
}
#archercursor_d_line {
  height: 6px;
  background-color: rgba(128,128,128,0.2);
  transform-origin: left 0%;
  border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
}
#archercursor_d_linkbox {
  border: 2px solid blue;
  background: rgba(0,0,255,0.2);
}
#archercursor_d_eligiblelinks {
  opacity: 1;
  background: none;
}
#archercursor_d_eligiblelinks .target_box {
  border: 1px solid #999;
  display: block;
  position: absolute;
  z-index: 9999;
  width: 10px;
  height: 10px;
  color: #222;
  background: rgba(200,200,200,0.5);
  text-align: center;
}
